<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="header-nav">

                <ul class="header-nav__links">
                    <li class="header-nav__item">
                        <a href="./index.html" class="header-nav__link">Home</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="./all_pages.html" class="header-nav__link">My Entries</a>
                    </li>
                </ul>

            </nav>

            <nav class="header-nav">
                <ul class="header-nav__account">
                    <li class="header-nav__account-item">
                        <a href="#" class="header-nav__link">My Account</a>
                    </li>
                    <li class="header-nav__account-item">
                        <button class="header-nav__login-btn">Login</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
