<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="header-nav">

                <ul class="header-nav__links">
                    <li class="header-nav__item">
                        <a href="./index.html" class="header-nav__link">Home</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="./all_pages.html" class="header-nav__link">My Entries</a>
                    </li>
                </ul>

            </nav>

            <nav class="header-nav"></nav>
                <ul class="header-nav__account">
                    <li class="header-nav__account-item">
                        <a href="#" class="header-nav__link">My Account</a>
                    </li>
                    <li class="header-nav__account-item">
                        <button class="header-nav__login-btn">Login</button>
                        <dialog class="login__dialog dialog">
                            <div class="login__dialog-inner">
                                <form class="login__form" id="login__form">
                                    <label for="" class="login__username-lable">Username:</label>
                                    <input class="login__input-username" type="text" id="username" placeholder="Guest">
                                    <label for="" class="login__password-lable">Password:</label>
                                    <input class="login__input-password" type="password" id="password" placeholder="1234">
                                     <button class="login__btn" type="submit">Login</button>
                                </form>
                            </div>
                        </dialog>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
